In [1]:
# TODO: Get DB connection information from environment
#       variables with sensible defaults
from sqlalchemy import create_engine
engine = create_engine("postgresql://localhost/crsp")

In [2]:
schema = "crsp"
table_name = "msi"
wrds_id = "iangow"
from wrds_fetch import wrds_to_pg
%timeit -n1 -r1 wrds_to_pg(schema, table_name, engine, wrds_id, fix_missing=False)

1 loop, best of 1: 7 s per loop

In [3]:
# Check thatthe data loaded into PostgreSQL correctly
import pandas as pd
df = pd.read_sql("SELECT * FROM " + schema + "." + table_name + " LIMIT 6", engine)
df

,date,vwretd,vwretx,ewretd,ewretx,sprtrn,spindx,totval,totcnt,usdval,usdcnt
0,1925-12-31,NaN,NaN,NaN,NaN,NaN,12.46,27487487.2,503,NaN,NaN
1,1926-01-30,0.000561,-0.001395,0.023174,0.021395,0.022472,12.74,27624240.8,506,27412916.2,496.0
2,1926-02-27,-0.033046,-0.036587,-0.053510,-0.055547,-0.043956,12.18,26752064.1,514,27600952.1,500.0
3,1926-03-31,-0.064002,-0.070021,-0.096824,-0.101404,-0.059113,11.46,25083173.4,519,26683758.1,507.0
4,1926-04-30,0.037019,0.034031,0.032946,0.030121,0.022688,11.72,25886743.8,521,24899755.6,512.0
5,1926-05-28,0.012095,0.008585,0.001035,-0.001752,0.007679,11.81,26187807.9,525,25742578.1,515.0

In [4]:
from wrds_fetch import wrds_to_pandas
# Here is code to get data directly from WRDS into Pandas
df = wrds_to_pandas(schema, "msi", wrds_id)
df.head()

,date,vwretd,vwretx,ewretd,ewretx,sprtrn,spindx,totval,totcnt,usdval,usdcnt
0,19251231,NaN,NaN,NaN,NaN,NaN,12.46,27487487.2,503,NaN,NaN
1,19260130,0.000561,-0.001395,0.023174,0.021395,0.022472,12.74,27624240.8,506,27412916.2,496.0
2,19260227,-0.033046,-0.036587,-0.053510,-0.055547,-0.043956,12.18,26752064.1,514,27600952.1,500.0
3,19260331,-0.064002,-0.070021,-0.096824,-0.101404,-0.059113,11.46,25083173.4,519,26683758.1,507.0
4,19260430,0.037019,0.034031,0.032946,0.030121,0.022688,11.72,25886743.8,521,24899755.6,512.0